<section class="dashboard-accounts space-y-6 mt-5" data-controller="dashboard">
  <%= turbo_frame_tag('current_balance') do %>
    <%= render CardComponent.new(title: 'Current Balance', subtitle: to_money_format(@dashboard.current_balance), options: {
      title_class: 'text-xs text-slate-500 font-semibold',
      subtitle_class: 'text-2xl',
      class: 'w-full bg-gradient-to-r from-gray-200 to-indigo-600 md:w-[350px]'
    }) %>
  <% end %>
</section>

<section class="dashboard-summary-cards grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
  <div>
    <p class="text-lg">Recent expenses</p>
    <% if @dashboard.recent_expenses.any? %>
      <div class="dashboard-recent-expenses">
        <%= turbo_frame_tag 'expenses' do %>
          <%= render ExpenseComponent.with_colletion(@dashboard.recent_expenses) %>
        <% end %>
      </div>
    <% else %>
      <p class="p-4 text-center">You don't have recent expenses</p>
    <% end %>
  </div>

  <div class="dashboard-budgets-summary">
    <%= render CardComponent.new(title: 'Budget summary', options: { class: 'w-full hidden md:block'}) do %>
      <div class="space-y-4 p-6 pt-2">
        <div class="budget-overview mb-4">
          <div class="flex justify-between">
            <span class="flex items-center font-semibold"><%= lucide_icon 'target' %> Total</span>
            <span class="font-semibold"><%= number_to_currency(@dashboard.total_expenses_this_month) %> / <%= number_to_currency(@dashboard.current_budget) %></span>
          </div>
          <%= render ProgressBarComponent.new percentage: @dashboard.budget_percentage, color: '#7ed4ff' %>
          <div class="flex justify-between mt-2">
            <small><%= @dashboard.budget_percentage %>% reached</small>
            <small><%= @dashboard.current_budget - @dashboard.total_expenses_this_month %> remaining</small>
          </div>
        </div>

        <hr class="border border-gray-300"/>
        <h4 class="font-semibold">By budget</h4>

        <% @dashboard.budgets.each do |budget| %>
          <div class="budget-item">
            <div class="flex justify-between">
              <span class="flex items-center text-gray-600"><%= lucide_icon budget.icon %> <%= budget.name %></span>
              <span class="font-semibold"><%= number_to_currency(budget.total_expenses_in_period) %> / <%= number_to_currency(budget.amount) %></span>
            </div>
            <%= render ProgressBarComponent.new percentage: budget.percentage, color: budget.color %>
          </div>
        <% end %>

        <div class="bg-green-50 p-4 rounded mt-9 ">
          <p class="font-medium mb-3"><span class="text-green-600">%</span> Savings rate</p>
          <h2 class="text-2xl font-bold text-green-600"><%= @dashboard.saving_rate_percentage %>%</h2>
        </div>
      </div>
    <% end %>
  </div>
</section>

