<% content_for :navbar do %>
  <section class="dashboard-header mb-5">
    <h1 class="text-lg font-semibold m0">
      Hello, <br />
      <strong><%= current_user.name %>!</strong>
    </h1>
  </section>
<% end %>

<section class="dashboard-accounts space-y-6 mt-5" data-controller="dashboard">
  <%= render partial: 'current_balance' %>
</section>

<section class="dashboard-summary-cards grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
  <div>
    <p class="text-md mb-3">Recent expenses</p>
    <% if @dashboard.recent_expenses.any? %>
      <div class="dashboard-recent-expenses">
        <%= turbo_frame_tag 'expenses' do %>
          <%= render ExpenseComponent.with_collection(@dashboard.recent_expenses, from_dashboard: true) %>
        <% end %>
      </div>
    <% else %>
      <p class="p-4 text-center">You don't have recent expenses</p>
    <% end %>
  </div>

  <div class="dashboard-budgets-summary">
    <p class="text-md mb-3">Budget summary</p>
    <%= render partial: 'budgets/budget_summary' %>
  </div>
</section>

