<div class="page-header mb-6 flex justify-between items-center">
  <div>
    <h1 class="text-lg font-semibold text-gray-900">Money accounts</h1>
  </div>

  <a href="<%= new_money_account_path %>" data-turbo-frame="modal" class="flex <%= link_as_button_classes %>">
    <%= lucide_icon 'plus' %>
    Add new
  </a>
</div>

<%= turbo_frame_tag 'money_accounts' do %>
  <%= render MoneyAccountComponent.with_collection(@money_accounts) %>
<% end %>

<%= render PaginationComponent.new(pagy: @pagy) %>
