<% dashboard ||= @dashboard %>
<%= turbo_frame_tag('budgets_summary') do %>
  <%= render CardComponent.new(title: '', class: 'w-full hidden md:block') do %>
    <div class="space-y-4 p-6 pt-2">
      <div class="budget-overview mb-4">
        <div class="flex justify-between">
          <span class="flex items-center font-semibold"><%= lucide_icon 'target' %> Total</span>
          <span class="font-semibold"><%= number_to_currency(dashboard.total_expenses_this_month) %> / <%= number_to_currency(dashboard.current_budget) %></span>
        </div>
        <%= render ProgressBarComponent.new percentage: dashboard.budget_percentage, color: '#7ed4ff' %>
        <div class="flex justify-between mt-2">
          <small><%= dashboard.budget_percentage %>% reached</small>
          <small><%= dashboard.current_budget - dashboard.total_expenses_this_month %> remaining</small>
        </div>
      </div>

      <hr class="border border-gray-300"/>
      <h4 class="font-semibold">By budget</h4>

      <% dashboard.budgets.each do |budget| %>
        <div class="budget-item">
          <div class="flex justify-between">
            <span class="flex items-center text-gray-600"><%= lucide_icon budget.icon %> <%= budget.name %></span>
            <span class="font-semibold"><%= number_to_currency(budget.total_expenses_in_period) %> / <%= number_to_currency(budget.amount) %></span>
          </div>
          <%= render ProgressBarComponent.new percentage: budget.percentage, color: budget.color %>
        </div>
      <% end %>

      <div class="bg-green-50 p-4 rounded mt-9 ">
        <p class="font-medium mb-3"><span class="text-green-600">%</span> Savings rate</p>
        <h2 class="text-2xl font-bold text-green-600"><%= dashboard.saving_rate_percentage %>%</h2>
      </div>
    </div>
  <% end %>
<% end %>

