<div class="page-header mb-6 flex justify-between items-center">
  <div>
    <h1 class="text-lg font-semibold text-gray-900">Expenses</h1>
  </div>

  <a href="<%= new_expense_path %>" data-turbo-frame="modal" class="flex <%= link_as_button_classes %>">
    <%= lucide_icon 'plus' %>
    Add new
  </a>
</div>

<%= turbo_frame_tag 'expenses' do %>
  <%= render ExpenseComponent.with_collection(@expenses, options: { class: 'w-full' }) %>
<% end %>

<%= render PaginationComponent.new(pagy: @pagy) %>