<div class="page-header mb-6 flex justify-between items-center">
  <div>
    <h1 class="text-lg font-semibold text-gray-900">Expenses</h1>
  </div>

  <div class="flex gap-2">
    <a href="<%= new_bulk_expense_path %>" class="flex <%= link_as_button_classes(:secondary) %>">
      <%= lucide_icon 'layers' %>
      Bulk add
    </a>
    <a href="<%= new_expense_path %>" data-turbo-frame="modal" class="flex <%= link_as_button_classes %>">
      <%= lucide_icon 'plus' %>
      Add new
    </a>
  </div>
</div>

<%= render SearchBarComponent.new(
  q: @q,
  url: expenses_path,
  filters: [
    { field: :money_account_id_eq, collection: @money_accounts, label_method: :name, prompt: "All the accounts" },
    { field: :budget_id_eq, collection: @budgets, label_method: :name, prompt: "All the budgets" },
    { field: :user_id_eq, collection: @users, label_method: :name, prompt: "All the users" }
  ]
) %>

<%= turbo_frame_tag 'expenses' do %>
  <%= render TransactionComponent.with_collection(@expenses, options: { class: 'w-full' }) %>
<% end %>

<%= render PaginationComponent.new(pagy: @pagy) %>
