<nav class="no-sr-only md:sr-only fixed bottom-0 left-0 right-0 z-50 h-14 bg-white text-gray-900 grid grid-cols-[repeat(56,1fr)] items-center shadow-lg">
  <%= render Mobile::NavbarLinkComponent.new(path: money_accounts_path, icon: 'landmark') %>
  <%= render Mobile::NavbarLinkComponent.new(path: expenses_path, icon: 'banknote-arrow-down') %>
  <%= render Mobile::NavbarLinkComponent.new(path: root_path, icon: 'home') %>
  <%= render Mobile::NavbarLinkComponent.new(path: item_prices_path, icon: 'store') %>
  <%= render Mobile::NavbarLinkComponent.new(path: exchange_rates_path, icon: 'badge-dollar-sign') %>
</nav>