<!DOCTYPE html>
<html>
  <head>
    <title>Our Finances</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
`
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans text-gray-900 pb-14">
    <%= render Sidebar::MainComponent.new %>

    <section id="toasts" class="toast-container fixed top-4 right-4 z-50 flex flex-col gap-2">
      <%= render partial: 'layouts/alerts' %>
    </section>
    
    <% if current_user.present? %>
      <main id="main" class="max-w-7xl mx-auto px-6">
        <%= yield :navbar %>
        
        <%= yield %>
        <%= render ModalComponent.new(klass: "hidden") %>
      </main>
    
      <%= render Mobile::NavbarComponent.new %>
    <% else %>
      <%= yield %>
    <% end %>

    
    
    <%= yield :js %>
  </body>
</html>
